body {
    background-color: #BDC3C7;  
     
}

.breadcrumb-item a {
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: color 0.3s ease;
}

.breadcrumb-item a:hover {
    color: white; 
    transform: scale(1.1); 
}

.breadcrumb {
    background: gray;
}

.card {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.carousel {
    padding: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 20px;

}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 270px;
}

footer {
    flex: 1 1 0;
    background-color: gray;
    position: relative;
    border: 0;
}

h2 {
    padding-top: 30px;
    position: relative;
}